  * {
    text-decoration: none;
  }
  p {
    line-height: 32px;
  }
  
  img {
    max-width:100%
  }

  h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    font-weight: bold;
  }

  body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url(../images/prism/prism.png);
    background-color: #4aaaa5;
    
  }
  
  .top {
    position: fixed;
    background: white;
    border-bottom: solid #cccccc 3px;
    height: 70px;
    width: 100%;
  }
  
  .header {
    background: #4aaaa5;
    float: left;
    color: white;
    margin-bottom: 0% ;
    margin-left: 25vmax;
    padding: 20px 30px;
    border: 0px;
  }
  
  #button {
    padding-top: 30px;
    margin-right: 25vmax;
  }
  
  .Contact a {
    border-right: #333;
    float: right;
    color: #777777; 
  }
  
  .Portfolio a {
    border-right: rgb(230, 229, 229) solid 1px;
    margin-right: 20px;
    padding-right: 20px;
    color: #777777;
    float: right;
  }
  
  .About a {
    border-right:  rgb(230, 229, 229) solid 1px;
    margin-right: 20px;
    padding-right: 20px;
    color: #777777;
    float: right;
  }
  
  .Main {
    max-width: 960px;
    position: fixed;
    top: 15%;
    left: 50%;
    height: 60vh;
    transform: translate(-50%);
    background-color: #ffffff;
    border: #dddddd solid 1px;
    padding: 40px 30px;
    margin-top: 20px;
    margin-bottom: 100px;
    overflow-y: scroll;
  }

  #aboutme {
    color: #4aaaa5;
  }

  #hr {
    margin: 30px 0px;
  }
  
  #profile {
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
  }

  .footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    color: white;
    background: #666666;
    text-align: center;
    padding-top: 20px;

    border-top: 8px solid #4aaaa5;
  }